
.card{
    width: 80%;
    height: 100vh;
    background-color: blueviolet;
    margin: 0 auto;
}

@media (min-width:768px) {
    .card{
        background-color: red;
    }
}
@media (min-width:992px) {
    .card{
        background-color: rgb(146, 198, 12);
    }
}